<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
    <form th:action="@{/student/}" th:object="${student}" method="post">
        <input type="hidden"  id="id" th:field="*{id}">
        <label>Имя</label>
        <input type="text"  id="name" th:field="*{name}" placeholder="Enter product name">
        <label>Возраст</label>
        <input type="text"  id="age" th:field="*{age}" placeholder="Enter age">
        <input th:if="${student.id == null}" type="hidden" name="_method" value="post">
        <input th:if="${student.id != null}" type="hidden" name="_method" value="put">
        <input type="submit">
    </form>
</body>
</html>